@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Playfair Display", serif; */
    font-family: "Poppins", sans-serif;
}

.header {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}


.navbar-brand img {
    width: 46%;
    height: 100%;
}

.background-color {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 7rem;
}

.home-section {
    background-image: url(/assets/images/restaurant-hero-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-content .only h1 {
    font-size: 72px;
    color: #ffffff !important;
    line-height: 1.3em;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    text-align: center;
}

.hero-content .sadout p {
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
    font-size: 19px;
    color: #bfbfbf !important;
    line-height: 1.8em;
    text-align: center;
}

.view-menu {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.view-menu .view-menu1 {
    color: #ffffff !important;
    padding: 6px 30px;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    border: 2px solid white;
}

.view-menu .reservation {
    color: #ffffff !important;
    padding: 8px 33px;
    border: none;
    background-color: #c39d63;
    text-transform: uppercase;
}

.story-box-tow img{
    width: 100%;
    height: 100%;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.story-box-one h4 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    color: #bfbfbf !important;
    line-height: 1.3em;
}

.story-box-one .royal h1 {
    font-size: 48px;
    line-height: 1.3em;
    font-family: "Playfair Display", serif;

}

.royal1 p {
    font-size: 17px;
    color: #969494 !important;
    line-height: 30px;
    word-spacing: 4px;
}

.grilled-section {
    background-color: #1f1f1f !important;
}

.main-grilled {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.grilled-fillet1 {
    text-align: center;
    background-color: #fff;
    padding: 35px 25px;
}

.grilled-fillet1 h3 {
    color: #c39d63;
    font-size: 25px;
}

.grilled-fillet1 .fillet h4 {
    font-family: "Playfair Display", serif;
    font-size: 24px;
    color: #1f1f1f !important;
    line-height: 1.3em;

}

.grilled-fillet1 .fillet1 p {
    font-size: 16px;
    color: #bfbfbf !important;
    line-height: 25px;
    text-align: center;
}

.grilled-fillet2 img {
    width: 100%;
    height: 100%;
}

.full-menu {
    color: #ffffff !important;
    padding: 8px 33px;
    border: none;
    background-color: #c39d63;
    text-transform: uppercase;
}

.people-section {
    background-color: rgba(0, 0, 0, 0.03) !important;
}

.people-main h4 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color: #bfbfbf !important;
    letter-spacing: 2px;
    line-height: 1.3em;
    text-align: center;
}

.what-people h1 {
    font-size: 48px;
    line-height: 1.3em;
    font-family: "Playfair Display", serif;
    text-align: center;
}

.what-people-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.what-people-main .fabulous1 .great h3 {
    font-size: 24px;
    color: #1f1f1f !important;
    line-height: 1.3em;
    text-align: left;
    font-family: "Playfair Display", serif;

}

.what-people-main .fabulous1 .great1 p {
    font-size: 16px;
    color: #939393 !important;
    line-height: 25px;
    line-height: 27px;
    word-spacing: 5px;
    letter-spacing: 1px;
}

.what-people-main .fabulous1 .great1 span {
    color: #1f1f1f;
    font-weight: 500;
}

.opration-section {
    background-image: url(/assets/images/restaurant-hero-03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.opration-section .bg-color {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 8rem 0px;
}

.main-opration {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.main-opration1 {
    background-color: #1f1f1f;
    padding: 70px 60px;
    text-align: center;
}

.text-contentainer h3 {
    font-size: 30px;
    line-height: 1.3em;
    color: #fff;
    font-family: "Playfair Display", serif;
}

.text-inner strong {
    color: #fff;
    font-weight: 700;
    padding-bottom: 50px;
}

.text-inner span {
    color: #fff;
    padding-top: 10px;
    line-height: 30px;
}

.makea {
    color: #ffffff !important;
    border: none;
    border: 2px solid #c39d63;
    border-radius: 0px;
    letter-spacing: 2px;
    font-size: 15px;
    padding: 6px 30px;
    margin-top: 30px;
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif !important;
    text-transform: uppercase !important;
    background-color: #c39d63;
}

.icon-section {
    background-color: #1f1f1f;
}

.main-icon {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.password1 {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

.password1 p {
    font-weight: 700;
    color: #666;
}

.password2 {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
}

.password2 a {
    display: inline-block;
    font-size: 24px;
    text-align: center;
    -webkit-transition: color 300ms ease 0s;
    transition: color 300ms ease 0s;
    color: #666;
    text-decoration: none;
}

.password2 a:hover {
    color: #2ea3f2;
}

/* About Page start */
.About-section {
    background-image: url(/assets/images/restaurant-hero-03\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.awards-section {
    background-color: #1f1f1f !important;
    padding: 6rem;
}

.text-inner h3 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    color: #bfbfbf !important;
    letter-spacing: 2px;
    line-height: 1.3em;
    text-align: center;
}

.recog h2 {
    font-size: 48px;
    line-height: 1.3em;
    font-family: "Playfair Display", serif;
    color: #fff;
    text-align: center;
}

.recog1 p {
    font-size: 16px;
    color: #bfbfbf !important;
    line-height: 25px;
    text-align: center;
}

.award-main-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.award-main-box1 {
    text-align: center;

}

.award-main-box1 h1 {
    color: #c39d63 !important;
    font-size: 68px;
    padding-top: 30px;
    font-family: "Playfair Display", serif;
    font-family: 700;

}

.head-box h3 {
    color: #333;
    padding-bottom: 10px;
    line-height: 1em;
    font-weight: 500;
    font-family: "Playfair Display", serif;

}

.image-box {
    font-size: 55px;
    color: #c39d63;
}

.para-box p {
    font-size: 17px;
    color: #969494 !important;
    line-height: 25px;
    /* word-spacing: 4px; */
}

.award-main-box2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.award-main-box2 .award-main-box1 {
    padding: 10px 20px;
}

/* About Page end */

/* Gallery Page strt  */

.Gallery-section {
    background-image: url(/assets/images/Desktop\ -\ 1\ \(3\)\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.main-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.gallery1 img {
    width: 100%;
    height: 100%;
}

/* Gallery Page end  */

/* team page start */
.team-section {
    background-image: url(/assets/images/restaurant-hero-06r.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.simply-section {
    background-image: url(/assets/images/restaurant-hero-05.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.simply-section-ne {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 8rem;
}

.text-inner1 h3 {
    text-transform: uppercase;
    color: #bfbfbf !important;
    font-size: 14px;
    font-weight: 700;

}

.simply1 h2 {
    font-size: 48px;
    line-height: 1.3em;
    font-family: "Playfair Display", serif;
    color: #fff;
    padding-top: 55px;

}

.simply2 p {
    font-size: 17px;
    color: #969494 !important;
    line-height: 25px;
    line-height: 30px;
    padding-top: 40px;
}

.creative-section {
    background-color: rgba(0, 0, 0, 0.03) !important;
    text-align: center;
}

.creative3 h2 {
    font-size: 48px;
    line-height: 1.3em;
    font-family: "Playfair Display", serif;
    padding-top: 25px;
}

.creative-para p {
    font-size: 17px;
    color: #969494 !important;
    line-height: 25px;
    line-height: 30px;
    padding-top: 20px;
}

.main-creative {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.images-rea img {
    width: 100%;
    height: 100%;
}

.image-heading h2 {
    font-size: 24px;
    line-height: 1.7em;
    padding-top: 10px;

}

.imges-title h3 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    color: #bfbfbf !important;
    letter-spacing: 2px;
}

.images-content p {
    font-size: 17px;
    color: #969494 !important;
    line-height: 25px;
    line-height: 30px;
}

/* team page end */

/* shop page start */
.shop-section {
    background-image: url(/assets/images/restaurant-hero-08.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* shop page end */

/* leanding page start */
.leanding-section{
    background-image: url(/assets//images/restaurant-hero-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.fresh h2{
    font-size: 48px;
    line-height: 1.3em;
    font-family: "Playfair Display", serif;
    padding-top: 25px;
    text-align: center;
} 
.fresh1 p{
     font-size: 17px;
    color: #969494 !important;
    line-height: 25px;
    line-height: 30px;
    text-align: center;
    padding-top: 30px;
}
.buttonbu{
    text-align: center;
}

.button{
    text-transform: uppercase;
    padding: 6px 30px;
    border: none;
    background-color: #c39d63;
    color: white;
    margin-top: 20px;
}
.Ingredient-section{
    background-color: rgba(0,0,0,0.03)!important;
    padding: 70px ;
}

/* leanding page end */

@media (max-width: 1000px){
    .main-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.main-grilled {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.what-people-main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.main-opration {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
}
.award-main-box2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.main-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}
.main-creative {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}
}

@media (max-width: 900px){
    .hero-content .sadout p {
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
    font-size: 16px;
    color: #bfbfbf !important;
    line-height: 1.8em;
    text-align: center;
}
.hero-content .only h1 {
    font-size: 50px;
    color: #ffffff !important;
    line-height: 1.3em;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    text-align: center;
}
}

@media (max-width: 700px){
    .hero-content .sadout p {
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
    font-size: 12px;
    color: #bfbfbf !important;
    line-height: 1.8em;
    text-align: center;
}
        .main-grilled {
        display: grid
;
        grid-template-columns: repeat(1, 1fr);
    }
    .hero-content .sadout p {
    font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
    font-size: 8px;
    color: #bfbfbf !important;
    line-height: 1.8em;
    text-align: center;
}
.hero-content .only h1 {
    font-size: 30px;
    color: #ffffff !important;
    line-height: 1.3em;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    text-align: center;
}
.password1 p {
    font-weight: 700;
    color: #666;
    font-size: 12px;
}
.award-main-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.story-box-one .royal h1 {
    font-size: 38px;
    line-height: 1.3em;
    font-family: "Playfair Display", serif;
}
.main-creative {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
}
.simply1 h2 {
    font-size: 38px;
    line-height: 1.3em;
    font-family: "Playfair Display", serif;
    color: #fff;
    padding-top: 55px;
}
}
@media (max-width: 600px){
    .view-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 0px;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}
.simply2 p {
    font-size: 14px;
    color: #969494 !important;
    line-height: 25px;
    line-height: 30px;
    padding-top: 40px;
}
.simply1 h2 {
    font-size: 38px;
    line-height: 1.3em;
    font-family: "Playfair Display", serif;
    color: #fff;
    padding-top: 55px;
}
}
@media (max-width: 600px){
    .simply2 p {
        font-size: 10px;
        color: #969494 !important;
        line-height: 25px;
        line-height: 30px;
        padding-top: 40px;
    }
    .simply1 h2 {
        font-size: 25px;
        line-height: 1.3em;
        font-family: "Playfair Display", serif;
        color: #fff;
        padding-top: 55px;
    }
    .fresh h2 {
    font-size: 38px;
    line-height: 1.3em;
    font-family: "Playfair Display", serif;
    padding-top: 25px;
    text-align: center;
}
    
}